<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="io/github/datromtool/logging/defaults.xml"/>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>datromtool.log</file>
        <append>false</append>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${logging.level:-INFO}">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.github.junrar.Archive" level="ERROR"/>

</configuration>