<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="io/github/datromtool/logging/defaults.xml"/>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDERR"/>
    </root>

    <logger name="com.github.junrar.Archive" level="ERROR"/>

</configuration>